<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.jam8.app"
        versionCode = "10"
        version     = "1.1.0">

    <name>ТЕСТ. jam8</name>

    <description>
        Jam8-быть собой-бесценно. Одежда для жизни и спорта имидж вашего отдыха безукоризненное качество стиль, не подвластный времени бренд
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#4B91DD" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/09e880b80ffe01a057bf6169989db1f4.png" density="ldpi" />
        <icon src="res/android/icon/d29e4fdc5a35ab6fbe708ba311d63c4b.png" density="mdpi" />
        <icon src="res/android/icon/140584a640544cea9503cfd3dbe24427.png" density="hdpi" />
        <icon src="res/android/icon/6a378b5948344a40890783298f94fb0a.png" density="xhdpi" />
        <icon src="res/android/icon/1ee5d80f6b248a12ce3137ec5f653fa7.png" density="xxhdpi" />
        <icon src="res/android/icon/bdf7cf5d1f5cd14f5a2f7ff3a7b9784b.png" density="xxxhdpi" />

        <splash src="res/android/screen/772cdef69b69855f8fac60a7d210043b.png" density="port-hdpi"/>
        <splash src="res/android/screen/8bd11329857a97fd493c0fd2958861e1.png" density="port-ldpi"/>
        <splash src="res/android/screen/ceaf18102ebd47895591ad05bd4f4bd7.png" density="port-mdpi"/>
        <splash src="res/android/screen/51f707fb34395e9e94f0ea3c77b09ab4.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/90013d315ba29bd940a7c393e0cfd6ec.png" width="180" height="180" />
        <icon src="res/ios/icon/82b443fd7a2b62c90a524c4fedcf1e6e.png" width="60" height="60" />
        <icon src="res/ios/icon/d2e884fab1252103977696626c250a60.png" width="120" height="120" />
        <icon src="res/ios/icon/51b00f2c2e3b6752531b86a2684dc888.png" width="76" height="76" />
        <icon src="res/ios/icon/852fb1eed6e2ad9402169a759c3bfea4.png" width="152" height="152" />
        <icon src="res/ios/icon/27933687405b4644c80feab57f49a75b.png" width="57" height="57" />
        <icon src="res/ios/icon/f1cdd74d26164e60bd7625d44f669464.png" width="114" height="114" />
        <icon src="res/ios/icon/b1e1be615a817d1feaf82652bc65cd2c.png" width="72" height="72" />
        <icon src="res/ios/icon/fa940f5f1a4105adc4083bfad3da9080.png" width="144" height="144" />
        <icon src="res/ios/icon/f5211f91a0c5872560ed9ffbda3d226f.png" width="167" height="167" />
        <icon src="res/ios/icon/df5b36be576cfe4ec3f96824f5d6c851.png" width="29" height="29" />
        <icon src="res/ios/icon/fdecb4162e0261fe4ad280a37913105a.png" width="58" height="58" />
        <icon src="res/ios/icon/c613b69cbc1559b5310f1cefa588ebf4.png" width="87" height="87" />
        <icon src="res/ios/icon/251cf5faa58b077a1d0f31ab8f0cffb7.png" width="167" height="167" />

        <splash src="res/ios/screen/8279d4b22d6c1f2fe843a41d4b3d0a5c.png" />
        <splash src="res/ios/screen/5703469750ea3fe8d8ea74187d895267.png" />
        <splash src="res/ios/screen/b43fb46395ad315e4f74e8ea77dea96c.png" />
        <splash src="res/ios/screen/f3ce13ecf2e14b0bc50ad6f9eaeeeb20.png" />
        <splash src="res/ios/screen/10ffd19ac0c822baf650267519eb0b8c.png" />
        <splash src="res/ios/screen/610d7e1afc18d8a7cc23e81808844cbb.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/7cd098715c1850293b061cd2a8be8464.png" target="StoreLogo" />
        <icon src="res/windows/icon/5a4336f952012968471ece9170aebf53.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/7c5133a85352d48932950d5e5892168d.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/23c4311d82b7bd2b8eec18d16e968b9b.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/817d7c1ce5f0421b230eb0fcd689d202.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/b5cd759d33ea2c7ea1652134fb3f5a55.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/82d0b3451aa8adc77f244c28d94ed99c.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/b5429bc8e01c03bc84648e56a18d6c41.png" target="SplashScreen"/>
        <splash src="res/windows/screen/75a5ce7ba49256637ae5ca69353873e6.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>